body {
	text-align: left;
}
.experience-pro {
	border: 1px dashed;
	animation-name: experience-pro;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: initial;
	

}
.renseignement-perso {
	animation-name: info-perso;
	animation-duration: 10s;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: initial;

	border: 1px dashed;
	box-sizing: 100px;



}
.plus-perso {
	border: 1px dashed;
	animation-name: plus-perso;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: initial;

}
.diplome {
	border: 1px dashed;
	animation-name: diplome;
	animation-duration: 15s;
	animation-fill-mode: alternate;
	animation-direction: alternate;
	animation-iteration-count: initial;
}

.lune {
	border-style: groove;
	border-radius: 200px;
	box-shadow: 4px 4px 5px #000000;
	

  	animation-name: slide;
 	animation-duration: 15s;
  	animation-fill-mode: both;
  	animation-direction: alternate;
  	animation-iteration-count: initial;


}

.formulaire {

	animation-name: formulaire;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: initial;
	
}




 
  @keyframes slide {
  0% {
  transform: translateX(-400%);
  visibility: visible;
  }
 50% {
  transform: rotate(180deg);
  }
  100% { 
  transform:translateX(0%); }

  	}

 @keyframes info-perso {
 0% { 
 transform: translateY(-2000%); }
 50% {
 transform: translateY(0%);
 }
 100% {
 transform: translateY(0%);
 transform: translateX(0%);
 }
 	}

 @keyframes experience-pro {
 0% {
 	transform: translateY(-2000px);}
 
 100% {
 	transform: translateY(0px);}
 }

@keyframes diplome {
0% {
	transform: translateY(-2000px);}
100% {
	transform: translateY(0px);}
}

@keyframes plus-perso {
0% {
	transform: translateY(-2000px);}
100%{
	transform: translateY(0px);}
}

@keyframes formulaire {
0% {
	transform: translateY(-2000px);}
100%{
	transform: translateY(0);
}
}